@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: Roboto;
  background-color: #202020;
  color:#FFFFFF ;
  
}

h1{
  font-family: Roboto;
  font-size: xx-large;
}

h2{
  font-size: x-large;
}

h3{
  font-size: large;
}

